version: "3.9"

services:
  api:
    build:
      context: ./services
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - TZ=${TZ:-UTC}
      - READING_WPM=${READING_WPM:-230}
    volumes:
      - data:/data

volumes:
  data:
